<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="Movies" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="Create" tabIcon="contacts"></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Upload" tabIcon="camera"></ion-tab>
</ion-tabs>