<ion-header>
    <ion-navbar>
        <ion-title>
            Contacts
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>Follow us on Twitter</ion-list-header>
        <ion-item>
            <ion-icon name="ionic" item-left></ion-icon>
            @ionicframework
        </ion-item>
    </ion-list>
</ion-content>